<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Join the Fight to Help Elect Mel!</h2>
          <h4>Every single person who donates or volunteers their time makes a difference. Thank you!</h4>
          <a class="btn btn-default btn-call-to-action" href="#" >VOLUNTEER</a>
          <a class="btn btn-default btn-call-to-action" href="#" >CONTRIBUTE</a>
        </div>
      </div>
    </div>
  </div>
</section>