<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
	      
        <div class="footer-menu">
	        
          <ul>
             <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about">About Mel</a></li>
                <li><a href="{{ site.baseurl }}/issues">Issues</a></li>
                <li><a href="{{ site.baseurl }}/news">News</a></li>
                <li><a href="{{ site.baseurl }}/contribute">Contribute</a></li>
                <li><a href="{{ site.baseurl }}/volunteer">Volunteer</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <br>
               <li> <p>Original theme Developed by <a href="http://www.themefisher.com">Themefisher</a>. Modified by <a href="http://www.lauraneckstein.com">Laura Newman Eckstein</a>. All rights reserved.</p></li><br><li><p>Paid for by Mel 2017, Elizabeth Bergreen Treasurer</p></li> 
       
          </ul>
        </div>
        
      
    </div>
    
  </div>
  
</footer>
