<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>MEL'S TOP THREE PRIORITIES</h2>
    
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4 col-md-4">
        <div class="service-item">
          <i class="icon ion-home" aria-hidden="true"></i>
          <h4>Housing for all - Rent Should be affordable</h4>
          <p><li><ul>Preserve subsidized and stabilized housing. Keep folks in their homes.</ul>
<ul>Expand affordable housing options including small-scale apartments and “boarding flats,” and tax empty apartments.</ul>
<ul>Crack-down on abusive and law-breaking landlords.</ul>
<ul>Organize New Yorkers to reclaim home rule of housing from state government.</ul></li>
        </div>
      </div>
      <div class="col-md-4 col-md-4">
        <div class="service-item">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h4>Good, Accessible Schools - Every Child Deserves a Great Community School</h4>
          <li><ul>Support child-centered curricula, not teach-to-the-test instruction.</ul>
<ul>Keep class sizes small, with space for each child -- no charter co-locations.</ul>
<ul>Develop a priority high school option for School District 3.</ul>
<ul>Expand professional development, mentorship, and support programs that ensure teaching excellence.</ul></li>
        </div>
      </div>
      <div class="col-md-4 col-md-4">
        <div class="service-item">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <h4>Effective Constituent Services - Concrete Results When You Need Help

</h4>
       <li>  <ul> Guarantee a fast, specific response to every constituent request.</ul>
<ul>Maintain a public dashboard of office performance and community feedback.</ul>
<ul>Collaborate with community experts and all levels of government to achieve lasting solutions.</ul></li>
        </div>
      </div>
   
      </div>
      </div>
      </div>
         <div class="row">
      <div class="section-title">
      
    <h2>MEL'S OTHER PRIORITIES</h2>
 

<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
       
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                    <li class="mix Branding">
                      <a href="../budget.md">
                        <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>Budget</h2>
                            <p>Labore et dolore magna aliqua. Ut enim ad </p>

                          </div>
                        </div>
                      </a>
                  </li>
                  <li class="mix Websites">
                    <a href="../development.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Development</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="../donaldtrump.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work3.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Donald Trump</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>

                    </a>
                  </li>
                  <li class="mix design">
                    <a href="../environment.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work4.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Enviornment</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Video">
                    <a href="../healthcare.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work5.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Healthcare</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="../localbusinesses.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work6.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Local Businesses</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  
                  
                  <li class="mix Websites">
                    <a href="../qualityoflife.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Quality of Life</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  
                  
                  
                  
                  <li class="mix Websites">
                    <a href="../seniors.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Seniors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  
                  
                  
                  
                  <li class="mix Websites">
                    <a href="../servingthecommunity.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Serving the Community</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  
                  
                  
                  
                  <li class="mix Websites">
                    <a href="../transportation.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Transportation</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  
                  
                  
                  <li class="mix Websites">
                    <a href="../womensrights.md">
                      <img src="{{ site.baseurl }}/img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Women's Rights</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  
                  
                  
                  
                  
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>

</section>
</section>