<!-- Wrapper Start -->


<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-6">
      <h2>About Mel</h2>
      <p>Mel Wymore is a 29-year Upper West Side resident and mother of two native West Siders. In 2013, Mel was among the first openly-transgender candidates to run for public office. He earned the endorsement of The New York Times in a seven-way race.<br><br>
 
Mel made the decision to run again after he was dismayed by the election of Donald Trump. The challenges we face have fundamentally changed. To preserve and build a fair, open society on the Upper West Side, we need a representative who is active, engaged, and responsive to our needs.<br><br>
 
A life-long community organizer, Mel has co-founded or chaired more than 30 organizations and civic groups formed to improve our quality of life and empower youth, seniors, people with disabilities, small businesses, local non-profits, the LGBT community and low-income families of the Upper West Side.<br><br>
 
As two-term Chair of Community Board 7, Mel led groundbreaking negotiations to mitigate high-density development and safeguard mom and pop stores. He organized tenants, professionals and parents to win construction of two new public schools, permanent affordable housing, a new recreation center and the expansion of Riverside Park.<br><br>
 
Mel believes that everyone deserves a safe, secure life in our neighborhood. He organized neighbors to start the Stratford Arms Meal Program, which provided food security to SRO tenants for more than 20 years. As Chair at the West Side Y, Mel promoted youth development and mentorship opportunities, new programs for seniors, reconstruction of the Community Theater, and expansions of pre-school and teen facilities. As Chair of Ethical Culture Fieldston School PTA, Mel focused on increasing diversity, which grew from 16 to 40 percent over a ten-year period.<br><br>
 
As Executive Director of TransPAC, an organization dedicated to advancing the rights of transgender people in New York State, Mel received wide acclaim for his work to elect a progressive New York State Senate in 2016.<br><br>
 
Formally trained in mathematics, speech communications, and systems engineering, Mel’s professional experience spans several industries, including manufacturing, transportation, communications, hospitality and digital enterprise.</p>
      
    </div>
  </div>
</div>
</section>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Core Principles</h2>
            <p>Mel is committed to serving the residents, institutions, businesses, visitors, and other stakeholders of Manhattan’s Upper West Side, according to the following principles:<br><br>
 
<em>INCLUSION:</em> valuing diversity, consideration of others, and promotion of the common good.<br><br>
 
<em>QUALITY OF LIFE:</em> pursuing the availability and continuous improvement of resources, infrastructure, public space, programs, services, and economic, socio-cultural, and educational opportunities that foster safe and active healthy living for all.<br><br>
 
<em>SUSTAINABILITY:</em> respecting those who came before us, and those who have yet to arrive; promoting policies and practices that are economically, environmentally, and socially sustainable for generations to come.<br><br>
 
<em>INTERDEPENDENCE:</em> understanding our place in the world, recognizing that our interests, resources, and actions connect us with communities and ecosystems across the globe; embracing policies and practices that allow all communities to thrive.<br><br>
 
<em>PARTICIPATION:</em> fostering honest, transparent, responsive, and democratic governance, collaborative engagement, and the right of every person to be informed and heard, even in the context of respectful disagreement.
  </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
        
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
